{% if (admin.hasRoute('create') and admin.isGranted('CREATE')) or (admin.hasRoute('compose') and admin.isGranted('EDIT', admin.subject)) %}
    {% if admin.subClasses is empty %}
        <a class="btn btn-success sonata-action-element" href="{{ admin.generateUrl('create') }}">
            <i class="fa fa-plus"></i>&nbsp;
            {{ 'link_action_create'|trans({}, 'SonataAdminBundle') }}</a>
    {% else %}
        <div class="btn-group">
            <a class="btn btn-success sonata-action-element" href="{{ admin.generateUrl('create') }}">
            <i class="fa fa-plus"></i>&nbsp;
            {{ 'link_action_create'|trans({}, 'SonataAdminBundle') }}</a>

            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">{{ 'toggle_dropdown'|trans({}, 'SonataAdminBundle') }}</span>
            </button>

            <ul class="dropdown-menu" role="menu">
                {% for subclass in admin.subclasses|keys %}
                    <li><a href="{{ admin.generateUrl('create', {'subclass': subclass}) }}">
                        <i class="fa fa-plus"></i>&nbsp;
                        {{ 'link_action_create'|trans({}, 'SonataAdminBundle') }} {{ subclass|trans({}, admin.translationdomain) }}
                    </a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endif %}
