{#
Example:

{% import "SymbioOrangeGateTranslationBundle::macros.html.twig" as orangegateTranslations %}

{{ orangegateTranslations.partialTranslations(editForm.translations, ['title','description']) }}
{{ orangegateTranslations.partialTranslations(editForm.translations, ['url']) }}
#}

{% macro partialTranslations(form, fieldsNames) %}
    <div class="orangegate_translations tabbable">
        <ul class="orangegate_translationsLocales nav nav-tabs">
        {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}

            <li {% if app.request.locale == locale %}class="active"{% endif %}>
                <a href="#" data-toggle="tab" data-target=".orangegate_translationsFields-{{ locale }}">
                    {{ locale|capitalize }}
                    {% if form.vars.default_locale == locale %}[Default]{% endif %}
                    {% if translationsFields.vars.required %}*{% endif %}
                </a>
            </li>
        {% endfor %}
        </ul>

        <div class="orangegate_translationsFields tab-content">
        {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}

            <div class="orangegate_translationsFields-{{ locale }} tab-pane {% if app.request.locale == locale %}active{% endif %}">
            {% for translationsField in translationsFields if translationsField.vars.name in fieldsNames %}
                {{ form_row(translationsField) }}
            {% endfor %}
            </div>
        {% endfor %}
        </div>
    </div>
{% endmacro %}
